* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', Ubuntu, sans-serif;
    font-weight: 400;
}

/*------------- HEADER, FOOTER, NAV --------------*/

header {
    background-color: #164f78;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;

}

.logo {
    flex: 0 1 128px;
    margin: auto;
    padding-right: 1.2em;

}

.logo img {
    width: 100%;
}


header h1 {
    font-size: 2em;
    margin-bottom: .2em;
    text-align: center;

}

.headertext {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
}


.subheading {
    font-size: 1.3em;
    color: indianred;
    text-align: center;

}

nav {
    background-color: #427aa1;
    text-align: center;

}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;

}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5em;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li.active a {
    background-color: grey;

}

nav ul li a:hover {
    background-color: #f6ae2d;
    color: #2f4858;
}

nav ul.hide {
    display: none;
}

.contact {
    background-color: #427aa1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-bottom: 0;
    font-size: 1.1em;
}

.footer-bar {
    background-color: #164f78;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: .9em;
}

.contact {
    text-align: center;
}


/*-------------Main--------------*/

main {
    color: dimgray;
}

main h2,
h3 {
    color: #427aa1;
    text-align: center;
    margin-top: 1em;
    padding-bottom: .75em;
}

main h2 {
    font-size: 1.8em;
}

main h3 {
    font-size: 1.5em;
}

.weather-summary {
    margin: 1em 1em 1.7em;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1em;
    font-size: 1.3em;

}

main .weather-summary {
    background-color: #E6F3F7;
    border: 3px solid #f6ae2d;
}

.highlow,
.current,
.conditions {
    align-items: center;
    justify-content: center;
    padding: .5em;
}

.current {
    font-weight: bold;
    font-size: 1.3em;
}

.current img {
    width: 5em;
    height: auto;
    margin-bottom: -.75em;
}

.town-article {
    padding: 1.2em;
}


main figure.franklinphoto {
    max-width: 100%;
    margin: 1.2em;
}

main figure.franklinphoto img {
    width: 100%;
    margin-bottom: 1em;
    border: 3px solid indianred;
    box-shadow: 5px 5px 10px gray;

}

main figure.greenvillephoto {
    max-width: 100%;
    margin: 1.2em;
}

main figure.greenvillephoto img {
    width: 100%;
    margin-bottom: 1em;
    border: 3px solid indianred;
    box-shadow: 5px 5px 10px gray;

}

main figure.springfieldphoto {
    max-width: 100%;
    margin: 1.2em;
}

main figure.springfieldphoto img {
    width: 100%;
    margin-bottom: 1em;
    border: 3px solid indianred;
    box-shadow: 5px 5px 10px gray;

}

main article img {
    max-width: 92%;
    margin: 1rem 1.2rem;
    border: 3px solid indianred;
    box-shadow: 5px 5px 10px gray;
}

.town-article {
    font-size: 1.2em;
    text-align: center;
}

.forecast {
    display: none;
}

.clearfix {
    clear: both;
}

.galleryimages {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.2em;
}

.galleryimages img {
    max-width: 100%;
}

figcaption {
    margin-top: .25em;
    margin-bottom: 1em;
    text-align: center;
      font-size: 1.2em;

}

/*----------------FORM--------------*/

form {
    padding: 1em;
}

form h1 {
    margin-top: 3em;
    padding-bottom: 1em;

}

form label {
    padding: 1em;
}

form fieldset {
    margin: 2em 0;
    border: 3px solid #f6ae2d;
    border-radius: 10px;
    padding: 1em;

}

form legend {
    color: #427aa1;
    margin: 0 .5em;
    padding: 0 .5em;
    font-size: 1.75em;
    background-color: white;
}

form label.entry {
    display: block;
    padding: .75em;
    color: indianred;
    font-size: 1.3em;
}

form label.entry input,
form label.entry select {
    -webkit-appearance: none;
    display: block;
    font-size: 1em;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75em;
    color: #555;
    width: 100%;
    max-width: 20em;
    background-color: #E6F3F7;
}

form label.report {
    display: block;
    padding: .5em;
    color: indianred;
    font-size: 1.3em;
    margin: 1.5em .5em 0;
}

form label.danger1 {
    display: block;
    padding: 1em .75em;
    color: indianred;
    font-size: 1.5em;
    font-weight: bold;

}

form label.danger {
    font-size: 1.2em;
    
}

form input.submitBtn {
    border: none;
    background-color: #427aa1;
    color: white;
    border-radius: 1em;
    padding: .75em 1.5em;
    margin: 0 0 2em 2%;
    width: 96%;
    max-width: 40em;
    font-size: 1.2em;
}

form label.entry input:required {
    border-bottom: indianred solid 3px;
}

form label.entry input:required:valid {
    border-bottom: green solid 3px;
}

/*------------SLIDER-------------*/

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 40%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;


    background: #427aa1;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #f6ae2d, 0px 0px 1px #f6ae2d;
    border: 1px solid #ffffff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #f6ae2d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}


input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}


/*-----------THANKS-------------*/

.thanks {
    color: indianred;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20%;
}

/*-----------INDEX-------------*/

/*.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 100%;

}

.grid-container img {
    max-width: 100%;
    max-height: auto;
    margin: 1.2em;
    border: 3px solid indianred;
    height: auto;
    box-shadow: 5px 5px 10px gray;

}

.grid-container h2 {
    text-align: center;
}
*/

.town-photos img {
    width: 90%;
    border: 3px solid indianred;
    box-shadow: 5px 5px 10px gray;
    margin: 1.2em;

    
}
.town-data {
    border: 3px solid #f6ae2d;
    margin: 1em 1em;
    text-align: center;
    padding: 0 0 1.2em 0;
    font-size: 1.2em;
    line-height: 1.5em;    
}

#story {
    font-size: 1em;
    text-align: center;
    padding: 0 1em .5em;
   
}

.franklin-data,
.greenville-data,
.springfield-data {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 100%;
    text-align: center;
    line-height: 4pt;

}

.motto,
.founded,
.pop,
.rain {
    color: indianred;
    font-weight: bold;
}


.footer-bar a:link {
    color: #f6ae2d
}


/*-----STYLE GUIDE---------

border: 3px solid indianred;
    box-shadow: 5px 5px 10px gray;

Blue header color: #164f78
Blue headings: #427aa1
Orange: #f6ae2d
Gray: #999
Pale Blue: #E6F3F7
Red: Indianred

*/
