/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    
}

body {
    font-size: 16px;
    font-family: 'Open Sans', Ubuntu, sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #164f78;
    color: #fff;
    flex-flow: row;
    padding: 1rem;
}

header,
nav,
main,
footer {

    max-width: 960px;
    margin: 0 auto;

}

.contact {
    background-color: #427aa1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 0;
    font-size: 14px;
}

.footer-bar {
    background-color: #164f78;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    font-size: 12px;
}


header h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.logo {
    flex: 0 1 128px;
    margin: auto;
    padding: 1rem;
    padding-right: 1rem;
}

.logo img {
    width: 100px;
}

.headertext {
    display: flex;
    flex: auto;
    flex-flow: column;
    text-align: left;

    font-size: 1rem;


}

.subheading {
    display: flex;
    flex: auto;
    flex-flow: column;
    text-align: left;
    margin-bottom: .5em;
    margin-top: .2em;
    margin-left: .1rem;
    font-size: 1rem;
    color: indianred;
}


nav {
    background-color: #427aa1;
    text-align: center;

}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .9rem;
}

nav ul li.active a {}

nav ul li a:hover {
    background-color: #f6ae2d;
    color: #2f4858;
}

nav ul.hide {
    display: none;
}

main {
    color: dimgray
}

main h2,
h3 {
    color: #427aa1;
    text-align: center;
}

main h2,
h3 {
    text-align: center;
    padding-bottom: .75rem;
    padding-top: .5rem;
}

main h2 {
    padding: 1.2rem;
}

.weather-summary {
    margin: auto;
    padding: 1.2rem;
}

.weather-summary {
    display: grid;
    grid-column-gap: 0px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #E6F3F7;
    padding: .5rem;
    margin: 0 .75rem;
    border: 3px solid #f6ae2d;


}

.highlow,
.current,
.conditions {
    color: #427aa1;
    align-items: center;
    justify-content: center;
    padding-top: .5em;
}

.current {
    font-weight: bold;
    font-size: 20px;
    padding-top: 1.5rem;
}

.current img {
    width: 90px;
    height: auto;
}

.town-article {
    padding: 1.2rem;
}

.franklinphoto img {
    margin-top: 5px;
    width: 100%;
    height: auto;
    }
.springfieldphoto img {
    margin-top: 5px;
    width: 100%;
    height: auto;
}
.greenvillephoto img {
    margin-top: 5px;
    width: 100%;
    height: auto;
}

main article {
    padding: .25rem;
}

main article img {
    width: 95%;
    height: auto;
    margin-left: .5rem;


}

.contact {
    text-align: center;
}

/* class selectors*/

.forecast {
    display: none;
}

.clearfix {
    clear: both;
}

.galleryimages {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
 }

.galleryimages img {
    max-width: 120%;
    
}

figcaption {
    max-width: 100%;
    margin-top: 4px;
    padding: 5px;
    font-size: 80%;
    text-align: center;

}

/*----------------FORM--------------*/

form {
    padding: .5rem;
}

form h1 {
    margin-top: 3rem;
    padding-bottom: 1rem;

}

form label {
    padding: .5rem;
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid #f6ae2d;
    border-radius: 10px;
    padding: .54em 2%;

}

form legend {
    color: #427aa1;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label.entry {
    display: block;
    padding: .75rem;
    color: indianred;
    font-size: 1.2rem;
}

form label.entry input,
form label.entry select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #E6F3F7;
}

form label.danger1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: indianred;
}

form label.report {
    display: block;
    padding: .75rem;
    color: indianred;
    font-size: 1.2rem;
}

form label.danger {
    display: block;
    padding: .75rem;
    color: #555;

}

form input.submitBtn {
    border: none;
    background-color: #427aa1;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.2rem;
}

form label.entry input:required {
    border-bottom: indianred solid 3px;
}

form label.entry input:required:valid {
    border-bottom: green solid 3px;
}

/*------------SLIDER-------------*/

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 40%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;


    background: #427aa1;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #f6ae2d, 0px 0px 1px #f6ae2d;
    border: 1px solid #ffffff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #f6ae2d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}


input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}


/*-----------THANKS-------------*/

.thanks {
    color: indianred;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20%;
}

/*-----------INDEX-------------*/

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 100%;

}

.grid-container img {
    max-width: 100%;
    max-height: auto;
    margin: .25rem;
    border: 2px solid indianred;
    height: auto;
    box-shadow: 5px 5px 10px gray;

}

.grid-container h2 {
    text-align: center;
}

.weather-story {
    margin: 0 1rem .25rem;
    text-align: center;
}

.franklin-data,
.greenville-data,
.springfield-data {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 100%;
    text-align: center;
    line-height: 4pt;

}

.motto,
.founded,
.pop,
.rain {
    color: indianred;
    font-weight: bold;
}


.footer-bar a:link {
    color: #f6ae2d
}
