@media only screen and (min-width:37.5em) {

    nav button {
        display: none;
    }
    header h1 {
        font-size: 2.1rem;

    }
    header h1 {
        font-size: 3rem;
    }
    .subheading {
        font-size: 1.5rem;
        justify-content: left;
        margin-left: .3rem;

    }

    section.forecast {
        display: block;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
    .franklinphoto img {
        width: 60%;
        height: auto;
        float: left;
        box-shadow: 3px 3px 3px #bbb;

    }
    .springfieldphoto img {
        width: 60%;
        height: auto;
        float: left;
        box-shadow: 3px 3px 3px #bbb;

    }
    .greenvillephoto img {
        width: 60%;
        height: auto;
        float: left;
        box-shadow: 3px 3px 3px #bbb;

    }
    .weather-summary {
        grid-template-columns: 1fr;
        border: none;
        background: none;
    }


    .forecast {
        padding: .8rem;
        clear: both;
    }
    section.forecast h3 {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        padding: 4px;
        margin: 0 auto;

    }

    table,
    th,
    td {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        margin: 0px auto;
        padding: 5px;
        border-collapse: collapse;
    }
    table {
        width: 100%;
    }


    main article img {
        width: 50%;
        float: right;
        margin: 10px;
        box-shadow: 3px 3px 3px #bbb;

    }

    .galleryimages {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.75em;
                                                                                                                                                                1
    }


    /*---------------------INDEX------------------*/
  

div .town {
   display: flex;
    flex-direction: row;
    background-color: 
  }
    
#weather-story article {
    font-size: 1rem;
    padding-top: 2rem;
  }
  
  .town-data {
    width: 60%;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1 rem;
    text-align: center;
    margin: auto;
    flex: 1 1 100%;
  }
     
  #weather-story .town-photos img {
   margin-top: 40px;
   }
  
  #weather-story article, #greenville-data article {
  margin-left: 1rem;
  margin-right: 0;
  }
  
 .town-row {
    flex-direction: row-reverse;
     width: 100%;
     padding: 2rem 1rem 1rem 1rem;
     flex: 1 1 100%;

    }
    
    .motto,
    .founded,
    .pop,
    .rain {
        color: indianred;
        font-weight: bold;
    }
