@media only screen and (min-width:37.5em) {

    nav button {
        display: none;
    }
    header h1 {
        font-size: 3em;
        padding-right: 2.5em;
    }
    .subheading {
        font-size: 1.5em;
        margin-left: .3em;
        padding-right: 4.5em;
    }


    section.forecast {
        display: block;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
    
    main figure.franklinphoto img {
       width:60%;
        float: left;
        margin: 6em 1em;
        box-shadow: 3px 3px 3px #bbb;
    }
    

     main figure.springfieldphoto img {
       width:60%;
        float: left;
        margin: 6em 1em;
        box-shadow: 3px 3px 3px #bbb;
    }
    
    
    main figure.greenvillephoto img {
       width:60%;
        float: left;
        margin: 6em 1em;
        box-shadow: 3px 3px 3px #bbb;
    }
    
    main .weather-summary {
        border: none;
        background: none;
        font-size: 1.2em;
        padding: 0;
        margin-bottom: 0;
        margin-top: 1em;
    }
    
    .town-article {
        font-size: 1.1em;
        text-align: left;
    }

    .forecast {
        padding: .8em;
        clear: both;
    }
    section.forecast h3 {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        padding: 4px;
        margin: 0 auto;

    }

    table,
    th,
    td {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        margin: 0px auto;
        padding: 5px;
        border-collapse: collapse;
    }
    table {
        width: 100%;
    }


    main article img {
        width: 50%;
        float: right;
        margin: 1em;
        box-shadow: 3px 3px 3px #bbb;

    }

    .galleryimages {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.75em;
        
    }
    
   
    /*---------------------INDEX------------------*/
      #weather-story article {
        float: left;
        font-size: 1.5em;
        padding-top: .2em;
        margin-left: 1em;
          padding-left: 2em;
          margin-top: 0;
              }
     #story {
        font-size: 1.1rem;
        text-align: left;
    }

    div .story-photo img {
        width: 44%;
        float: right;
        margin-top: 4em;
        margin-right: 1.2em;
        box-shadow: 3px 3px 3px #bbb;
        
    }
    
    
    #greenville-data {
        display: flex;
        flex-flow: row;
        flex-direction: row-reverse;
        align-items: center;
        padding: .75em;
        width: 95%;
        margin: 2em;
        background-color: #e6f3f7;
        border: 3px solid #f6ae2d;

    }
    
    div .town {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 95%;
        margin: 0 1.8em 1em;
        background-color: #e6f3f7;
        border: 3px solid #f6ae2d;
    }

    .town-data {
        width: 50%;
        padding: .5em .5em 1em;
        font-size: 1.3em;
        text-align: center;
        margin: 0;
        flex: 1 1 50%;
        border: none;
    }
    
    .town-data h2 {
        font-size: 1.5em;
    }

    .town-photos img {
        width: 90%;
        margin: 1em;
    }

    #weather-story article,
    #greenville-data article {
        margin: 0;
    }
    
  
    .motto,
    .founded,
    .pop,
    .rain {
        color: indianred;
        font-weight: bold;
    }
}
