@media only screen and (min-width:37.5em) {

    nav button {
        display: none;
    }
    header h1 {
        font-size: 2.1rem;

    }
    header h1 {
        font-size: 3rem;
    }
    .subheading {
        font-size: 1.5rem;
        justify-content: left;
        margin-left: .3rem;

    }
    
    section.forecast {
        display: block;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
    .franklinphoto img {
        width: 50%;
        height: auto;
        float: left;
        margin: auto;
        box-shadow: 3px 3px 3px #bbb;

    }
    .springfieldphoto img {
        width: 50%;
        height: auto;
        float: left;
        margin: 25px 15px 15px 15px;
        box-shadow: 3px 3px 3px #bbb;

    }
    .greenvillephoto img {
        width: 50%;
        height: auto;
        float: left;
        margin: 25px 15px 15px 15px;
        box-shadow: 3px 3px 3px #bbb;

    }
    .weather-summary {
        grid-template-columns: 1fr;
        line-height: .75rem;
        border: none;
        background: none;
    }
    .highlow,
    .current,
    .conditions {
        font-size: 18px;
        margin-bottom: 0;
        line-height: .95em;
    }

    .forecast {
        padding: .8rem;
        clear: both;
    }
    section.forecast h3 {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        padding: 4px;
        margin: 0 auto;

    }

    table,
    th,
    td {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        margin: 0px auto;
        padding: 5px;
        border-collapse: collapse;
    }
    table {
        width: 100%;
    }


    main article img {
        width: 50%;
        float: right;
        margin: 10px;
        box-shadow: 3px 3px 3px #bbb;

    }

    .galleryimages {
        grid-template-columns: 1fr 1fr; 
    
    }
    
 
    /*---------------------INDEX------------------*/
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
        grid-gap: .25rem;
        justify-items: center;

    }
    .index-sky {
        margin-top: 4rem;
        grid-column: 1;
        grid-row: 1;
    }


    .grid-container img {
        max-width: 400px;
        max-height: auto;
        margin: .25rem;
        border: 2px solid indianred;
        height: auto;
        box-shadow: 5px 5px 10px gray;

    }
    .weather-story {
        margin: 0 1rem .25rem;
        text-align: center;
    }

    .data {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: 100%;
        text-align: left;
        line-height: 4pt;

    }
    .motto,
    .founded,
    .pop,
    .rain {
        color: indianred;
        font-weight: bold;
    }
