@media only screen and (min-width:37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    header img {
        width: 30%;
        float: left;
        margin: 7px;
    }
    nav button {
        display: none;
    }

    section.forecast {
        display: block;
    }

    nav ul li {
        display: inline-block;
    }
    .weather-summary {
        display:grid;
        width: 100%;
        }
    .current {
        width: 100%;
        }
    .conditions {
     width: 100%;
    }
    section.forecast h3 {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        padding: 3px;
        margin: 0 auto;
        
    }
    
    table, th, td {
        border: 1px solid black;
        background: lightgray;
        text-align: center;
        margin: 0 auto;
        padding: 3px;
        border-collapse: collapse;
    }
    table {
        width: 100%;
    }    
        
        main article img {
        width: 250px;
        float: right;
        margin: 7px;
        box-shadow: 3px 3px 3px #bbb;

    }
}